* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  display: flex;
  justify-content: center;
}
.pageContent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1180px;
}
header {
  padding: 0 42px;
  height: 100px;
  border-radius: 0px 0px 40px 40px;
  background: rgb(0, 194, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logoTitle {
  font-size: 34px;
  font-weight: 400;
  color: white;
}

nav {
  display: flex;
  gap: 40px;
}

.menuItem {
  color: rgb(255, 255, 255);
  font-size: 34px;
  font-weight: 700;
  text-decoration: none;
}
.activeMenuItem {
  color: rgb(0, 78, 143);
}

.logoTitle span {
  color: rgb (0, 78, 143);
}
main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
}

.title {
  color: rgb(0, 78, 143);
  font-size: 60px;
  font-weight: 700;
  margin-top: 32px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 20px;
}
.card {
  width: 380px;
  height: 570px;
  border-radius: 40px;
  background: linear-gradient(
    44.43deg,
    rgb(114, 198, 239) -1.375%,
    rgb(255, 255, 255) 100%
  );
  padding: 24px 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.cardTitle {
  color: rgb(0, 78, 143);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}
.cardImage {
  width: 310px;
  height: 200p;
  margin-bottom: 16px;
}
.cardDescription {
  color: rgb(0, 78, 143);
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  flex: 1 1 auto;
}
.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardPrice {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
}
.addToCart {
  border-radius: 40px;
  background: linear-gradient(90deg, rgb(20, 136, 204), rgb(43, 50, 178) 100%);
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 400;
  padding: 25px 22px;
  cursor: pointer;
}
footer {
  border-radius: 40px 40px 0px 0px;
  background: rgb(0, 194, 255);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 34px;
  font-weight: 700;
}
